<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
    <!-- URL's para acceder a los metodos handler o de los controladores-->
    <ul>
        <li>
            <a th:href="@{/params/string(texto = 'Hola mundo')}">/params/string?texto=Hola mundo</a>
        </li>
        <li>
            <a th:href="@{/params/string(texto = 'Hola mundo con thymeleaf')}">/params/string?texto=Hola mundo con thymeleaf</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params(saludo = 'Hola mundo con thymeleaf', numero = 10)}">/params/mix-params?saludo=Hola mundo con thymeleaf&numero=10</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params-request(saludo = 'Hola mundo con thymeleaf', numero = 10)}">/params/mix-params-request?saludo=Hola mundo con thymeleaf&numero=10</a>
        </li>
    </ul>
</body>
</html>