<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${titulo}"></title>
    </head>
    <body>
        <main>
            <h1 th:text="${titulo}"></h1>

            <form th:action="@{/form}" method="post">
                <div>
                    <label for="username">User Name</label>

                    <div>
                        <input type="text" name="username" id="username" required>
                    </div>
                </div>

                <div>
                    <label for="password">Password</label>

                    <div>
                        <input type="password" name="password" id="password" required>
                    </div>
                </div>

                <div>
                    <label for="email">Email</label>

                    <div>
                        <input type="email" name="email" id="email" required>
                    </div>
                </div>

                <div>
                    <div>
                        <input type="submit" name="submit" value="submit">
                    </div>
                </div>
            </form>
        </main>
    </body>
</html>