<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${titulo}"></title>
    </head>
    <body>
        <main>
            <h1 th:text="${titulo}"></h1>

            <ul>
                <li th:text="${user.id}"></li>
                <li th:text="${user.nombre}"></li>
                <li th:text="${user.apellido}"></li>
                <li th:text="${user.username}"></li>
                <li th:text="${user.email}"></li>
                <li th:text="${user.password}"></li>
            </ul>
        </main>
    </body>
</html>