<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
    <ul>
        <li><a th:href="@{/variables/string/} + 'Hola mundo'">/variables/string/Hola mundo</a></li>
        <li><a th:href="@{/variables/string/} + 'Hola mundo con thymeleaf'">/variables/string/Hola mundo con thymeleaf</a></li>
        <li><a th:href="@{/variables/string/} + 'Hola mundo con spring boot y thymeleaf' + '/' + 10">/variables/string/Hola mundo con spring boot y thymeleaf/10</a></li>
    </ul>
</body>
</html>