<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title th:text="${title}"></title>
  </head>
  <body>
    <h1 th:text="${title}"></h1>

    <h2>User</h2>
    <p th:text="${user.name}"></p>

    <h2>Lastname</h2>
    <p th:text="${user.lastname}"></p>

    <div th:if="${user.email}">
      <h2>Email</h2>
      <p th:text="${user.email}"></p>
    </div>

    <div th:if="${user.email == null}">
      <h2>Email</h2>
      <p th:text="no tiene email"></p>
    </div>

    <ul>
      <li>
        <a th:href="@{/list}">Ver listado</a>
      </li>

      <li>
        <p>Enlace con un solo parametro: </p>
        <a th:href="@{'/api/params/foo?message=' + ${title}}">Ver mensaje</a>
      </li>

      <li>
        <p>Enlace con multiples parametros: </p>
        <a th:href="@{/api/params/bar(message='pero que pelotas haces?', code=1)}">Ver mensaje y codigo</a>
      </li>

      <li>
        <p>Enlace con path variable: </p>
        <a th:href="@{'/api/var/baz/' + 'pero que pelotas haces?'}">Ver mensaje en path variable</a>
      </li>
    </ul>
  </body>
</html>