<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title th:text="${title}"></title>
  </head>
  <body>
    <h1 th:text="${title}"></h1>

    <h2>User</h2>
    <p th:text="${user.name}"></p>

    <h2>Lastname</h2>
    <p th:text="${user.lastname}"></p>

    <div th:if="${user.email}">
      <h2>Email</h2>
      <p th:text="${user.email}"></p>
    </div>

    <div th:if="${user.email == null}">
      <h2>Email</h2>
      <p th:text="no tiene email"></p>
    </div>
  </body>
</html>